<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Levista.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #menu ol #ab ul li{
            display: none;
            background-color: beige;
            text-align: left;
            padding: 12px 16px;
            font-size: 18px;
        }
        #menu ol #ab ul li a{
            text-decoration: none;
        }
        #menu ol #sh ul li a{
            text-decoration: none;
        }
        #menu ol #sh ul li{
            list-style-type: none;
            display: none;
            background-color: beige;
            padding: 12px 16px;
            font-size: 18px;
            text-align: left;
        }
        #menu ol #sh:hover ul li{
            display: block;
        }
        #menu ol #ab:hover ul li{
            display: block;
        }
    </style>
</head>
<body>
<section id="sct">
    <div id="heading">
        <h2>Free Shipping on orders above Rs.500/-</h2>
    </div>
    <div id="banner">
        <div id="container">
            <div id="navigationbar">
                <div id="logo">
                    <img src="./logo.webp" alt="">
                </div>
                <div id="menu">
                    <ol>
                        <li><a href="" id="home">Home</a></li>
                        <li id="ab"><a href="">About</a>
                            <ul>
                                <li><a href="">About</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Careers</a></li>
                            </ul>    
                        </li>
                        <li id="sh"><a href="">Social Hub</span></a>
                            <ul>
                                <li><a href="">Press Release</a></li>
                                <li><a href="">Our Star Customers</a></li>
                                <li><a href="">Video Gallery</a></li>
                                <li><a href="">Gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="" id="buycoffee">Buy Coffee</a></li>
                        <li><a href="" id="blog">Blog</a></li>
                        <li><a href="" id="contact">Contact</a></li>
                    </ol>
                </div>
                <div id="searchbar">
                    <a href="" id="search"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="" id="profile"><i class="fa-solid fa-user"></i></a>
                    <a href="" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="op">Our Products</div>
    <div id="opd">We offer a wide range of coffee that serves all coffee lovers. Some like it strong, some      light, and some <br> in-between too! We have blends that fulfill all your coffee needs! Browse through our best brews.</div>
   <div id="inln1">
        <div id="imgcont1">
            <img src="./1.webp" alt="">
            <label for="" id="lb1">Premium Can 200g</label> <br> <br>
            <label for="" id="ini">Rs. 270.00</label>
            <span id="aft">Rs. 540.00</span>
            <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
        </div>
        <div id="imgcont2">
            <img src="./2.jpg" alt="">
            <label for="" id="lb1">Classic Pouch 200g</label> <br> <br>
            <label for="" id="ini">Rs. 340.00</label>
            <span id="aft">Rs. 680.00</span>
            <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
        </div>
        <div id="imgcont3">
            <img src="./3.jpg" alt="">
            <label for="" id="lb1">Classic Jar 100g</label> <br> <br>
            <label for="" id="ini">Rs. 190.00</label>
            <span id="aft">Rs. 380.00</span>
            <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
        </div>
        <div id="imgcont4">
            <img src="./1.webp" alt="">
            <label for="" id="lb1">Premium Can 100g</label> <br> <br>
            <label for="" id="ini">Rs. 142.00</label>
            <span id="aft">Rs. 284.00</span>
            <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
        </div>
   </div>
   <div id="inln2">
    <div id="imgcont1">
        <img src="./5.jpeg" alt="">
        <label for="" id="lb1">Premium Pouch 100g</label> <br> <br>
        <label for="" id="ini">Rs. 135.00</label>
        <span id="aft">Rs. 270.00</span>
        <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
    </div>
    <div id="imgcont2">
        <img src="./6.jpeg" alt="">
        <label for="" id="lb1">Premium Pouch 200g</label> <br> <br>
        <label for="" id="ini">Rs. 262.00</label>
        <span id="aft">Rs. 524.00</span>
        <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
    </div>
    <div id="imgcont3">
        <img src="./7.jpeg" alt="">
        <label for="" id="lb1">Premium Pouch 50g</label> <br> <br>
        <label for="" id="ini">Rs. 70.00</label>
        <span id="aft">Rs. 140.00</span>
        <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
    </div>
    <div id="imgcont4">
        <img src="./8.jpeg" alt="">
        <label for="" id="lb1">Premium Can 50g</label> <br> <br>
        <label for="" id="ini">Rs. 75.00</label>
        <span id="aft">Rs. 150.00</span>
        <span id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></span>
    </div>
</div>
</section>
</body>
</html>